* {
  margin: 0;
  padding: 0;
}

body, html {
  background: url("../assets/mm.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; height: 100%; width:100%;
}
body {margin: 0 auto; position:relative; text-align:center;}

h2 {color:white;}

h1 a {color: white; background-color: darkblue; text-decoration:none; border-radius:3px; padding: 3px;}

h2 a {color:white;}

#rem {
	margin: 10px auto 0px;
  text-align: center;
  background: green;
  border-radius: 3px;
  box-shadow: 0 10px 20px -8px rgb(240, 75, 113);
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
	font-weight:bold;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
#rem:hover {transform: translateY(-3px);}

.pagination {list-style:none;}
.pagination li {display: inline-block; margin: 5px; padding: 6px; border-radius: 10px 10px 10px 10px;}
.pagination li a {color:white;background-color: black; padding: 10px; text-decoration: none; font-size:24px;}
.pagination li a:hover {background-color: red; color: white;}

#read1, #read2 {background-color: yellow; border-radius: 14px 14px 14px 14px; font-size: 24px; color: black}

.logout {
  background-color: #000000;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 10%;
  right: 1%;
  width: 90px;
}

.home {
  background-color: #000000;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 3%;
  right: 1%;
  width: 90px;
}

@media print {
  body, html {text-indent: 10%}
}